<!DOCTYPE html>

<html>
<head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}"></head>

<body>
<img src="https://img.freepik.com/free-photo/welcome-phrase-available-launch-open_53876-124476.jpg?size=626&ext=jpg"
                 align="middle" width="400"><h1 class="special_a">Welcome To problem Exact Cover!</h1>
    <h2> Group number 21 </h2>
    <h3> Members:208614610, 206534489, 319022562 </h3>
<hr>
    <h2 class="special"> Login   </h2>

<hr>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" >  <!-- getting the username  -->
        <br><br>
        <input type="text" name="email" placeholder="Email" >        <!-- getting the email  -->
        <br><br>
        <input type="submit" name="Register" >
        
    
    </form>
        <hr>
</body>

</html>